.checkbox-wrapper {
	display: flex;
	align-items: center;
	margin: 4px 0;
	cursor: pointer;

	input {
		@include visually-hidden;

		&:checked + .checkbox {
			background: $success-color;

			.check {
				opacity: 1;
				transform: scale(1);
			}
		}

		&:disabled ~ span {
			cursor: not-allowed;
		}
	}

	&:hover .checkbox {
		border-color: $primary-color !important;
	}
}

.checkbox {
	height: 24px;
	width: 24px;
	padding: 3px;
	border-radius: 40%;
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid $success-color;
	transition: all 0.3s;

	background: $body-background;

	.check {
		height: 100%;
		width: 100%;
		fill: $body-background;
		transition: all 0.4s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
		transform: scale(0);
		opacity: 0;
	}
}

.checkbox-content {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 8px;
}
