.text-input {
	outline: none;
	padding: 0 12px;

	width: 100%;
	height: 3rem;
	font-size: 1.2rem;
	font-weight: 700;

	border: 1px solid $normal-color;
	border-radius: 1rem;

	&:focus-within {
		border-color: $success-color;
	}

	&.error {
		border-color: $error-color;
	}
}

.text-area {
	padding: 12px;
	resize: none;
}
