@import './forecast-list.scss';
@import './forecast-list-item.scss';

.top-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.forecast-container {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;

	.location {
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		align-items: center;
	}

	.country-name {
		font-size: 4rem;
		font-weight: 600;
		color: $success-color;
	}

	.city-name {
		font-size: 2rem;
		font-weight: 500;
	}

	.sunrise-sunset {
		display: flex;
		justify-content: center;
		column-gap: 4rem;

		.title {
			font-weight: bold;
		}
	}

	.sunrise,
	.sunset {
		display: flex;
		column-gap: 1rem;
	}
}
