.forecast-list-item {
	list-style: none;
}

.forecast-day {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	.date {
		color: $active-color;
		font-weight: 500;
	}

	.weather-icon {
		width: 3rem;
		height: 3rem;
	}

	.data-container {
		display: flex;
		flex-direction: column;
		row-gap: 4px;

		.title {
			font-weight: bold;
		}
	}
}