.form {
	width: 100%;
	display: flex;
	flex-direction: column;

	row-gap: 2.5rem;

	.form-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.toggle-item {
		flex-direction: row;
	}

	label {
		display: flex;
		align-items: center;
		width: 100%;
		font-size: 1rem;
		margin: 4px 0;
		text-transform: uppercase;

		span {
			margin-right: 8px !important;
			color: $text-color-grey;
			font-weight: 600;
		}
	}

	.validation-error {
		display: flex !important;
		align-items: center;
		margin-left: auto;
		text-transform: none;
		color: $error-color;

		.icon {
			width: 1rem;
			height: 1rem;
			margin-left: 0.5rem;
		}
	}
}
