#login-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h2 {
		font-size: 2rem;
		margin-bottom: 3rem;
	}

	#login-form {
		width: 50%;
	}

	.actions-container {
		margin-top: 4rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.login-btn {
		width: 100%;
		padding: 0.5rem 1rem;
		font-size: 1.5rem;
		border-radius: 1rem;

		color: $text-color-white;
		background: $success-color;

		&:hover {
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.25);
		}

		&:active {
			background: darken($success-color, 5%);
		}

		&:disabled {
			background: lighten($success-color, 20%);
		}
	}
}
